<ion-view title="Add New" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="addNew-form2" class="list">
      <label class="item item-input" id="addNew-input2">
        <span class="input-label">Title</span>
        <input type="text" placeholder="" ng-model="title">
      </label>
      <label class="item item-input" id="addNew-input3">
        <span class="input-label">Input</span>
        <input type="text" placeholder="" ng-model="text">
      </label>
    </form>
    <button id="addNew-button4" class="button button-positive  button-block" ng-click="sentAddNew(title,text)">Submit</button>
  </ion-content>
</ion-view>