<ion-view title="Login" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="login-form3" class="list">
      <label class="item item-input" id="login-input4">
        <span class="input-label">email</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="login-input5">
        <span class="input-label">password</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <button id="login-button5" class="button button-positive  button-block">Login</button>
  </ion-content>
</ion-view>